[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
cloudinary = "*"
django-bootstrap4 = "*"
django-star-ratings = "*"
django-heroku = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
